body{
    background: #000;

}
.carousel{
    height: 600px;
    perspective: 250px;

}
.carousel .carousel-item{
    width: 450px;

}
img{
    width: 340px;
    height: 210px;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gardient(transparent, transparent, rgba(0,0,0,0.3));
}
h2{
    color: white;
    font-style: italic;
    font-size: 40px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: black;
    color: white;
    margin: 5px;
  }
  
  .fa-twitter {
    background: black;
    color: white;
    margin: 5px;
  }
  
  .fa-envelope {
    background: black;
    color: white;
    margin: 5px;
  }
  
  .fa-linkedin {
    background: black;
    color: white;
    margin: 5px;
  }
  .fa-instagram {
    background: black;
    color: white;
    margin: 5px;
  }
  
  .fa-reddit {
    background: black;
    color: white;
    margin: 5px;
  }
  
 


  